{% include '../components/content/program/program.twig' %}
<div class="event-wrapper">
  {% include '../components/content/event/event.twig' with {
    starttime: '9:00 - 9:15',
    topic: 'OPENING',
    content: 'Opening Speech',
    host: 'Dr. Bernhard Rohleder, CEO, Bitkom e.V.',
    location: 'TECH ARENA',
    color: 'fire',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '9:00 - 9:15',
    topic: 'OPENING',
    content: 'Opening Speech',
    host: 'Broadcast Tech Arena',
    location: 'TRANSFORMERS ARENA',
    color: 'water',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '9:00 - 9:15',
    topic: 'OPENING',
    content: 'Opening Speech',
    host: 'Broadcast Tech Arena',
    location: 'POLICY ARENA',
    color: 'lilac',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '9:15 - 9:40',
    topic: 'KEYNOTES',
    content: 'Good Companions: How humans and machines are transforming logistics',
    host: 'Dr. Frank Appel, CEO, Deutsche Post DHL Group',
    location: 'TECH ARENA',
    color: 'fire',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '9:15 - 9:35',
    topic: 'DIGITAL TRANSFORMATION',
    content: 'de:hub Initative',
    host: 'Dr. Andreas Goerdeler, Head of Dictorate, Digital Agenda for Germany and Europe',
    host2: 'Lisa Guggenmos, Director Consultancy, RCKT',
    host3: 'Josefina Nunsgesser, Department Leader Trend and Innovationscouting, Germany Trade & Invest (GTAI)',
    location: 'DIGITAL ARTS LAB BY RETUNE',
    color: 'toxic',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '10:00 - 10:20',
    topic: 'AI',
    content: 'The Robot Baby Project: a New Frontier of ArtificialLife',
    host: 'Prof.Dr.A.E.Gusz Eiben, Professor of Artificial Intelligence, VU University Amsterdam',
    location: 'ACCENTURE INNOVATION STAGE',
    color: 'sun',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '10:15 - 10:35',
    topic: 'FINTECH',
    content: 'Digitalization - or: the need for core competencies',
    host: 'Chris Bartz, CEO & Co-Founder, Elinvar GmbH',
    host2: 'Jan Kühne, CDO, M.M Warburg CO',
    host3: 'Moderation: Julian Grigo',
    location: 'TRANSFORMERS ARENA',
    color: 'water',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '10:15 - 11:15',
    topic: 'NEXT GENERATION BUSINESS',
    content: 'Enabling the Intelligent Enterprise with Machine Learning',
    host: 'Dr. Sebastian Wieczorek, Director, SAP Innovation Center Network / Head of SAP Leonardo Machine Learning Foundation',
    location: 'FIN TECH',
    color: 'sky',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '10:00 - 10:20',
    topic: 'AI',
    content: 'The Robot Baby Project: a New Frontier of ArtificialLife',
    host: 'Prof.Dr.A.E.Gusz Eiben, Professor of Artificial Intelligence, VU University Amsterdam',
    location: 'ACCENTURE INNOVATION STAGE',
    color: 'sun',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '10:15 - 10:35',
    topic: 'FINTECH',
    content: 'Digitalization - or: the need for core competencies',
    host: 'Chris Bartz, CEO & Co-Founder, Elinvar GmbH',
    host2: 'Jan Kühne, CDO, M.M Warburg CO',
    host3: 'Moderation: Julian Grigo',
    location: 'TRANSFORMERS ARENA',
    color: 'water',
  } %}
  {% include '../components/content/event/event.twig' with {
    starttime: '10:15 - 11:15',
    topic: 'NEXT GENERATION BUSINESS',
    content: 'Enabling the Intelligent Enterprise with Machine Learning',
    host: 'Dr. Sebastian Wieczorek, Director, SAP Innovation Center Network / Head of SAP Leonardo Machine Learning Foundation',
    location: 'FIN TECH',
    color: 'candy',
  } %}
</div>
<div class="triangle"></div>