<div class="logo">
  <div class="logo__img"><img src="../img/hub.png"></div>
  <div class="logo__text">
    <div class="logo__headline">{{ headline }}</div>
    <div class="logo__content">{{ content }}</div>
  </div>
</div>