<div class="time-line">
  <div class="time-line__button">9:00<div class="time-line__border"></div></div>
  <div class="time-line__button">10:00<div class="time-line__border"></div></div>
  <div class="time-line__button">11:00<div class="time-line__border"></div></div>
  <div class="time-line__button">12:00<div class="time-line__border"></div></div>
  <div class="time-line__button">13:00<div class="time-line__border"></div></div>
  <div class="time-line__button">14:00<div class="time-line__border"></div></div>
  <div class="time-line__button">15:00<div class="time-line__border"></div></div>
  <div class="time-line__button">16:00<div class="time-line__border"></div></div>
  <div class="time-line__button">17:00<div class="time-line__border"></div></div>
  <div class="time-line__button">18:00<div class="time-line__border"></div></div>
</div>